<!doctype html>
<html lang="en">
  <head>
    <title>Bird Song Quiz</title>
    <style>
      audio {
          display: table;
          margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <audio controls>
      <source src="/recordings/{{ recording['id'] }}/" type="audio/mpeg">
    </audio>
    <form action="/recording-quiz/" method="post">
      {% for f in families %}
      <input type="radio" name="data" value="family_id--{{ f['id'] }}--recording_id--{{ recording['id'] }}">{{ f['english_name'] }} ({{ f['name'] }})<br>
      {% endfor %}
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
