<!doctype html>
<html lang="en">
  <head>
    <title>Bird Song Quiz</title>
    <style>
      audio {
          display: table;
          margin: 0 auto;
      }
      img.bird {
          width: 150px;
      }
    </style>
  </head>
  <body>
    <audio controls>
      <source src="/recordings/{{ recording['id'] }}/" type="audio/mpeg">
    </audio>
    <form action="/recording-quiz/" method="post">
      <table>
        <tbody>
          {% for f in families %}
            <tr>
              <td>
                <input type="radio" name="data" value="family_id--{{ f['id'] }}--recording_id--{{ recording['id'] }}">{{ f['english_name'] }} ({{ f['name'] }}) {{ f['weight']}}g<br>
              </td>
            {% for url in f['image_urls'][:5] %}
              <td>
                <img src="{{ url }}" class="bird">
              </td>
            {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
