<!doctype html>
<html lang="en">
  <head>
    <title>Species</title>
    <style>
    </style>
  </head>
  <body>
    {% if recording %}
    <audio autoplay controls>
      <source src="/recordings/{{ recording['id'] }}/" type="audio/mpeg">
    </audio>
    {% endif %}
    <ul>
      {% for f, genus2species in results.items() %}
      <li>
        {{ f }}
        <ul>
          {% for g, species in genus2species.items() %}
          <li>
            {{ g }}
            <ul>
              {% for _, s in species.items() %}
              <li>
                {% if recording %}
                <form action="/recordings/" method="post">
                  <input class="hidden" type="radio" name="data" value="species_id--{{ s['id'] }}--recording_id--{{ recording['id'] }}" checked>
                  <input type="submit" value="{{ s['english_name'] }} ({{ s['name'] }})">
                </form>
                {% else %}
                {{ s['english_name'] }} ({{ s['name'] }})
                {% endif %}
                <table>
                  <tbody>
                    {% for type, id in s['recordings'] %}
                    <tr>
                      <td>
                        {{ type }}
                      </td>
                      <td>
                        <audio controls>
                          <source src="/recordings/{{ id }}/" type="audio/mpeg">
                        </audio>
                      </td>
                      {% if loop.first %}
                      <td rowspan="0">
                        <img src="{{ s['image_url'] }}" class="bird">
                      </td>
                      {% endif %}
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
